.container {
    padding-top: 40px;
}

.button-box .button-box-left {
    text-align: left;
}

.button-box .button-box-right {
    text-align: right;
}

.title-box {
    display: table;
    min-height: 180px;
    text-align: left;
}

.title-box .title-items {
    margin-top: 30px;
}

.title-box #title {
    font-size: 2em;
    font-weight: bolder;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.title-box #nickname, #category {
    color: #5c636a;
    font-size: 0.7em;
}

.content-box {
    min-height: 250px;
}

.reply-box {
    min-height: 200px;
}